!!!
html
  head
    title Visualization of Beijing Air Pollution
    meta(charset='utf-8')
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
  body
    header
      .content
        h1
          | Visualization of Beijing 
          span.color Air 
          | Pollution
    section#vis
      .content
        #stations
          #map-wrapper
            svg.map
          #station
            h2#station-name
            #radial-wrapper
              //- legend
              svg.radial
            #tiles-wrapper
              svg.tiles
        #pollutant-selector

    section#write-up
      .content
        :markdown
          This visualzation demonstrates the intensity of several major pollutants in Beijing during October 17 and October 30, 2012.



          This is [Scott](http://scottcheng.com/)'s [course assignment](http://vis.pku.edu.cn/wiki/public_course/visclass_f12/assignment/a02/chengye/start) of the [fall 2012 Introduction to Visualization and Visual Computing course](http://vis.pku.edu.cn/wiki/public_course/visclass_f12/start) at Peking University. Data extracted from the [Beijing Municipal Environmental Monitoring Center website](http://www.bjmemc.com.cn/g356.aspx).

    
    a(href='https://github.com/scottcheng/bj-air-vis')
      img(
        style='position: absolute; top: 0; right: 0; border: 0;',
        src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png',
        alt='Fork me on GitHub'
      )

    script(src='lib/d3.v2.min.js')
    script(src='lib/colorbrewer.js')
    script(src='air-vis.js')