!!!
html
  head
    title Visualization of Beijing Air Quality
    meta(charset='utf-8')
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
  body
    script(src='lib/d3.v2.min.js')
    script(src='air-vis.js')