!!!
html
  head
    title Visualization of Beijing Air Quality
    meta(charset='utf-8')
    meta(name='author', content='Scott Cheng')
    meta(name='description', content='')
    link(href='style.css', rel='stylesheet')
  body
    .content
      h1 Visualization of Beijing Air Quality
      #vis
        #stations
          #map-wrapper
            svg.map
          #station
            h2#station-name
            #radial-wrapper
              //- legend
              svg.radial
            #tiles-wrapper
              svg.tiles
        #pollutant-selector
        //- #overall
          svg#parallel
    
    a(href='https://github.com/scottcheng/bj-air-vis')
      img(
        style='position: absolute; top: 0; right: 0; border: 0;',
        src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png',
        alt='Fork me on GitHub'
      )

    script(src='lib/d3.v2.min.js')
    script(src='lib/colorbrewer.js')
    script(src='air-vis.js')