@import 'lib/reset.css';
.clearfix {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.float-wrapper {
  display: block;
}
.float-wrapper > div,
.float-wrapper > nav,
.float-wrapper > ul,
.float-wrapper > li {
  float: left;
}
.float-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
::selection {
  background-color: #737373;
  color: #fff;
  fill: #fff;
}
::-moz-selection {
  background-color: #737373;
  color: #fff;
  fill: #fff;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("img/grey.png");
  background-repeat: repeat;
  margin: 0;
  min-width: 980px;
}
body.pollutant-all .color,
body.pollutant-all a {
  color: #4292c6;
}
body.pollutant-all .color:hover,
body.pollutant-all a:hover {
  color: #2171b5;
}
body.pollutant-no2 .color,
body.pollutant-no2 a {
  color: #41ab5d;
}
body.pollutant-no2 .color:hover,
body.pollutant-no2 a:hover {
  color: #238b45;
}
body.pollutant-so2 .color,
body.pollutant-so2 a {
  color: #807dba;
}
body.pollutant-so2 .color:hover,
body.pollutant-so2 a:hover {
  color: #6a51a3;
}
body.pollutant-pm2_5 .color,
body.pollutant-pm2_5 a {
  color: #ef3b2c;
}
body.pollutant-pm2_5 .color:hover,
body.pollutant-pm2_5 a:hover {
  color: #cb181d;
}
body.pollutant-pm10 .color,
body.pollutant-pm10 a {
  color: #f16913;
}
body.pollutant-pm10 .color:hover,
body.pollutant-pm10 a:hover {
  color: #d94801;
}
.color,
a {
  color: inherit;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #525252;
  font-weight: normal;
}
header {
  padding: 30px 0;
}
header .content {
  width: 960px;
  margin: 0 auto;
}
header .content h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}
#vis {
  padding: 35px 0 20px;
  height: 600px;
  background-color: rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#vis .content {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
#vis .content .legend-element {
  font-size: 10px;
}
#vis .content #stations {
  display: block;
}
#vis .content #stations > div,
#vis .content #stations > nav,
#vis .content #stations > ul,
#vis .content #stations > li {
  float: left;
}
#vis .content #stations:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#vis .content #stations #map-wrapper {
  width: 522px;
}
#vis .content #stations #map-wrapper svg.map path {
  cursor: pointer;
  fill: #fff;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 1px;
  fill-opacity: 0.25;
  stroke-opacity: 0.75;
  -webkit-transition: fill-opacity 0.25s, stroke-width 0.5s;
  -moz-transition: fill-opacity 0.25s, stroke-width 0.5s;
  -ms-transition: fill-opacity 0.25s, stroke-width 0.5s;
  -o-transition: fill-opacity 0.25s, stroke-width 0.5s;
  transition: fill-opacity 0.25s, stroke-width 0.5s;
}
#vis .content #stations #map-wrapper svg.map path:hover {
  fill-opacity: 0.5;
}
#vis .content #stations #map-wrapper svg.map path.active {
  fill-opacity: 0.75;
  stroke-width: 2px;
  cursor: auto;
}
#vis .content #stations #map-wrapper svg.map circle.location {
  cursor: pointer;
  fill-opacity: 0.25;
  stroke-opacity: 0;
  -webkit-transition: fill-opacity 0.25s, stroke-opacity 0.5s;
  -moz-transition: fill-opacity 0.25s, stroke-opacity 0.5s;
  -ms-transition: fill-opacity 0.25s, stroke-opacity 0.5s;
  -o-transition: fill-opacity 0.25s, stroke-opacity 0.5s;
  transition: fill-opacity 0.25s, stroke-opacity 0.5s;
}
#vis .content #stations #map-wrapper svg.map circle.location:hover {
  fill-opacity: 0.5;
}
#vis .content #stations #map-wrapper svg.map circle.location.active {
  fill-opacity: 0.75;
  cursor: auto;
  stroke-width: 1.5px;
  stroke-opacity: 0.75;
}
#vis .content #stations #map-wrapper svg.map .legend circle.legend-element {
  fill: #bdbdbd;
  opacity: 0.5;
}
#vis .content #stations #map-wrapper svg.map .legend text.legend-element {
  fill: #737373;
}
#vis .content #stations #station {
  width: 418px;
  margin-left: 20px;
  position: relative;
}
#vis .content #stations #station h2 {
  text-align: center;
  font-size: 25px;
  color: #737373;
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 0;
}
#vis .content #stations #station #radial-wrapper svg.radial path.layer {
  stroke-width: 1px;
  stroke: #fff;
  fill: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;
}
#vis .content #stations #station #radial-wrapper svg.radial path.layer:hover,
#vis .content #stations #station #radial-wrapper svg.radial path.layer.active {
  opacity: 1;
}
#vis .content #stations #station #radial-wrapper svg.radial path.layer.active {
  cursor: auto;
}
#vis .content #stations #station #radial-wrapper svg.radial .legend path.legend-element {
  fill: none;
  stroke: #bdbdbd;
}
#vis .content #stations #station #radial-wrapper svg.radial .legend text.legend-element {
  fill: #737373;
  text-anchor: middle;
}
#vis .content #stations #station #tiles-wrapper svg.tiles rect {
  fill: #fff;
}
#vis .content #pollutant-selector {
  clear: both;
  margin-top: 40px;
  text-align: center;
}
#vis .content #pollutant-selector .pollutant {
  width: 120px;
  height: 25px;
  display: inline-block;
  text-align: center;
  padding: 12px 0 0;
  line-height: 12px;
  border-top: 5px solid;
  border-bottom: 3px solid;
  cursor: pointer;
  opacity: 0.25;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
#vis .content #pollutant-selector .pollutant:hover {
  opacity: 0.5;
}
#vis .content #pollutant-selector .pollutant.active {
  opacity: 1;
}
#vis .content #pollutant-selector .pollutant sub {
  vertical-align: sub;
}
#write-up {
  padding: 20px 0;
  color: #525252;
}
#write-up .content {
  width: 720px;
  margin: 0 auto;
}
#write-up .content p {
  line-height: 1.5;
  margin: 15px 0;
}
