@import 'lib/mixins.styl'
@import 'lib/stybr.styl'

lightgrey = rgb(189, 189, 189)
grey = rgb(115, 115, 115)

body
  font-family 'Helvetica Neue', Helvetica, sans-serif
  // background-color #eee
  margin 0

.content
  width 960px
  padding 0 20px
  margin 0 auto

  h1
    margin-top 20px
    color #555

  #vis
    margin-top 60px
    height 600px
    background-color #fff

    .legend-element
      font-size 10px

    #stations
      float-wrapper()

      #map-wrapper
        width 522px
        svg.map
          path
            cursor pointer
            fill #fff
            stroke #fff
            stroke-linejoin round
            stroke-width 1px
            fill-opacity .25
            stroke-opacity .75
            transition fill-opacity .25s, stroke-width .5s
            &:hover
              fill-opacity .5
            &.active
              fill-opacity .75
              stroke-width 2px
              cursor auto

          circle.location
            cursor pointer
            fill-opacity .25
            stroke-opacity 0
            transition fill-opacity .25s, stroke-opacity .5s
            &:hover
              fill-opacity .5
            &.active
              fill-opacity .75
              cursor auto
              stroke-width 1.5px
              stroke-opacity .75

          .legend
            circle.legend-element
              fill lightgrey
              opacity .5
            text.legend-element
              fill grey

      #station
        width 418px
        margin-left 20px
        position relative

        h2
          text-align center
          font-size 25px
          color #888
          font-weight normal
          margin 0
          position absolute
          top 5px
          left 0

        #radial-wrapper
          svg.radial
            path.layer
              stroke-width 1px
              stroke #fff
              fill #fff
              opacity .5
              transition opacity .25s
              cursor pointer
              &:hover,
              &.active
                opacity 1
              &.active
                cursor auto

            .legend
              path.legend-element
                fill none
                stroke lightgrey
              text.legend-element
                fill grey
                text-anchor middle

        #tiles-wrapper
          svg.tiles
            rect
              fill #fff

    #pollutant-selector
      clear both
      margin-top 40px
      text-align center
      .pollutant
        width 120px
        height 25px
        display inline-block
        text-align center
        padding 12px 0 0
        line-height 12px
        border-top 5px solid
        border-bottom 2px solid
        cursor pointer
        opacity .5
        transition opacity .25s
        &.active
          font-weight bold
          opacity 1