vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

transition()
  vendor('transition', arguments)

border-radius()
  vendor('border-radius', arguments)

transform()
  vendor('transform', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-orient()
  vendor('box-orient', arguments)

box-flex()
  vendor('box-flex', arguments)

box-align()
  vendor('box-align', arguments)

box-pack()
  vendor('box-pack', arguments)

box-reflect()
  vendor('box-reflect', arguments)

box-sizing()
  vendor('box-sizing', arguments)

user-select()
  vendor('user-select', arguments)

animation()
  vendor('animation', arguments)

animation-delay()
  vendor('animation-delay', arguments)

background-size()
  vendor('background-size', arguments)